.page-button-div {
    position:absolute;
    /* left:47.75%; */
    bottom:10%;
    margin:auto;
    width:100%;
}
.page-button {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:6.75%;
}

form {
    width:50%;
    padding-bottom:20px;
}
button, form {
    background-color: hsl(200, 50%, 20%);
    color:white;
    padding: 15px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:1rem;
    margin:auto;
}
button:hover {
    background-color:#1A6998;
}
button:active {
    box-shadow: 2px 2px 5px grey;
    background-color:#92CAEC;
}
.modeButtonStyle {
    background-color: white;
    color:black;
}

.submit {
    background-color: hsl(150, 50%, 90%);
    color: black;
}

.facebook-btn {
    padding: 0.5rem;
    margin: 0.5rem 2rem;
    background-color: hsl(200, 50%, 90%);
    color: black;
}

.btn {
    border: 0.1rem solid black;
    color: white;
    border-radius: 0.25rem;
    text-decoration: none;
}

.card {
    border: 0.1rem solid black;
    background-color: hsl(10, 20%, 90%);
    width: 20rem;
    padding: 0.75rem;
}