.container {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #333;
    position: fixed;
    z-index: 2;
}

/*Footer styling below*/
footer {
    background-color: #333;
}

.center-header {
    position:fixed;
    left:46%;
    font-size:150%;
}
.right-header {
    position:fixed;
    right:2%;
}

.navbar-brand {
    margin: 1rem;
}
