body {
    background-color: #E4F1F2;
    font-family:Helvetica, san-serif;
    margin:0;
    padding:0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}